#tabConstraints {
    padding: 10px 0;
}

.tab-content {
    margin-bottom: 15px;
}

#tabConstraints .table thead th {
    border-top: none;
}

#addConstraint {
    margin-right: 10px;
}

#tbResultDataset th, #tbResultDataset td {
    white-space: nowrap;
}

.selecionarCampos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    column-gap: 20px;
}

.list-sortable {
    list-style: none;
    padding-left: 0;
    border: 1px solid var(--vscode-input-border, var(--gray));
    max-height: 400px;
    overflow: scroll;
}

.list-sortable:first-child {
    border-left: none;
}

.list-sortable:last-child {
    border-right: none;
}

.list-sortable li {
    padding: .5rem;
    margin-bottom: .5rem;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-color: var(--vscode-button-separator);
}

.sortable-hover {
    cursor: move;
    color: #fff;
    background-color: var(--vscode-button-hoverBackground, var(--primary));
    border-color: var(--vscode-button-separator);
}

#tabOrders .form-switch {
    padding-left: 1.5rem;
}

#tabOrders .form-switch .form-check-input, #tabOrders .form-switch .form-check-label {
    cursor: pointer;
}

#tabOrders .form-switch .form-check-input {
    width: 1em;
    height: 1.5em;
    margin-top: 0;
    background-position: top center;
    margin-left: -1.5rem;
}

#tabOrders .form-switch .form-check-input:focus {
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: none;
    outline: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

#tabOrders .form-switch .form-check-input:checked {
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: bottom center;
}
