<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar servidor</title>
    <link rel="stylesheet" href="${d.bootstrapCss}">
    <link rel="stylesheet" href="${d.themeCss}">
    <style>
        #btnSalvar span {
            display: none;
        }

        #btnSalvar.loading span {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>${d.serverData ? 'Editar Servidor' : 'Adicionar Servidor'}</h1>

        <form id="formServer">
            <div class="row g-3">
                <div class="col-md-12 form-group">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" required value="${d.serverData ? d.serverData.name : ''}">
                    <input type="hidden" class="form-control" id="id" value="${d.serverData ? d.serverData.id : ''}">
                </div>

                <div class="col-md-8 form-group">
                    <label for="host" class="form-label">Host</label>
                    <input
                        type="text"
                        class="form-control"
                        id="host"
                        name="host"
                        required
                        placeholder="Exemplo: fluig.com.br"
                        value="${d.serverData ? d.serverData.host : ''}"
                    >
                </div>

                <div class="col-md-2 form-group">
                    <label for="ssl" class="form-label">SSL</label>
                    <select class="form-control" id="ssl">
                        <option value="yes" ${d.ssl ? "selected" : ""}>Sim</option>
                        <option value="no" ${!d.ssl ? "selected" : ""}>Não</option>
                    </select>
                </div>

                <div class="col-md-2 form-group">
                    <label for="port" class="form-label">Porta</label>
                    <input
                        type="number"
                        class="form-control"
                        id="port"
                        name="port"
                        required=""
                        placeholder="443"
                        min="0"
                        step="1"
                        value="${d.serverData ? d.serverData.port : ''}"
                    >
                </div>

                <div class="col-md-6 form-group">
                    <label for="username" class="form-label">Usuário</label>
                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        required
                        value="${d.serverData ? d.serverData.username : ''}"
                    >
                </div>

                <div class="col-md-6 form-group">
                    <label for="password" class="form-label">Senha</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        required
                        value="${d.serverData ? d.serverData.password : ''}"
                    >
                </div>

                <div class="col-md-5 form-group">
                    <label for="confirm_pass_exporting" class="form-label">Confirmar senha quando exportar</label>
                    <select class="form-control" id="confirm_pass_exporting">
                        <option value="yes" ${d.confirmExporting ? "selected" : ""}>Sim</option>
                        <option value="no" ${!d.confirmExporting ? "selected" : ""}>Não</option>
                    </select>
                </div>
            </div>

            <p class="mt-3">
                <button class="btn btn-primary" type="submit" id="btnSalvar">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Salvar
                </button>
            </p>
        </form>
    </div>

    <script src="${d.jquery}"></script>
    <script src="${d.serverJs}"></script>
</body>
</html>
