<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar servidor</title>
    <link rel="stylesheet" href="${d.bootstrapCss}">
    <link rel="stylesheet" href="${d.themeCss}">
</head>
<body class="container-fluid">
    <h1>${d.serverData ? 'Editar Servidor' : 'Adicionar Servidor'}</h1>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="name"><strong>Nome</strong></label>
            <input type="text" class="form-control" id="name" value="${d.serverData ? d.serverData.name : ''}">
            <input type="hidden" class="form-control" id="id" value="${d.serverData ? d.serverData.id : ''}">
        </div>

        <div class="col-md-8 form-group">
            <label for="host"><strong>Host</strong></label>
            <input
                type="text"
                class="form-control"
                id="host"
                placeholder="Exemplo: fluig.com.br"
                value="${d.serverData ? d.serverData.host : ''}"
            >
        </div>

        <div class="col-md-2 form-group">
            <label for="ssl"><strong>SSL</strong></label>
            <select class="form-control" id="ssl">
                <option value="yes" ${d.ssl ? "selected" : ""}>Sim</option>
                <option value="no" ${!d.ssl ? "selected" : ""}>Não</option>
            </select>
        </div>

        <div class="col-md-2 form-group">
            <label for="port"><strong>Porta</strong></label>
            <input
                type="text"
                class="form-control"
                id="port"
                placeholder="443"
                value="${d.serverData ? d.serverData.port : ''}"
            >
        </div>

        <div class="col-md-6 form-group">
            <label for="username"><strong>Usuário</strong></label>
            <input
                type="text"
                class="form-control"
                id="username"
                value="${d.serverData ? d.serverData.username : ''}"
            >
        </div>

        <div class="col-md-6 form-group">
            <label for="password"><strong>Senha</strong></label>
            <input
                type="password"
                class="form-control"
                id="password"
                value="${d.serverData ? d.serverData.password : ''}"
            >
        </div>

        <div class="col-md-5 form-group">
            <label for="confirm_pass_exporting"><strong>Confirmar senha quando exportar</strong></label>
            <select class="form-control" id="confirm_pass_exporting">
                <option value="yes" ${d.confirmExporting ? "selected" : ""}>Sim</option>
                <option value="no" ${!d.confirmExporting ? "selected" : ""}>Não</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group">
            <button class="btn btn-primary" type="button" id="saveServer">Salvar</button>
        </div>
    </div>

    <script src="${d.jquery}"></script>
    <script src="${d.serverJs}"></script>
</body>
</html>
