body {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-editor-font-size);
}

body.vscode-dark .form-select, body.vscode-high-contrast:not(.vscode-high-contrast-light) .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
}

::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.form-control, .form-select, .select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
    font-size: var(--vscode-editor-font-size);
}

.form-control:focus, .select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border-color: var(--vscode-focusBorder);
}

.btn-primary {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-color: var(--vscode-button-separator);
}

.btn-primary:hover,
.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--vscode-button-hoverBackground, var(--bs-primary));
    border-color: var(--vscode-button-separator);
}

.btn-secondary {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
    border-color: var(--vscode-button-separator);
}

.btn-secondary:hover,
.btn-secondary.focus, .btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    border-color: var(--vscode-button-separator);
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-hoverBackground, var(--bs-secondary));
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: inherit;
    pointer-events: none;
    background-color: inherit;
    border-color: inherit;
}

.select2-container--default .select2-selection--single {
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--vscode-editor-foreground, var(--bs-gray)) transparent transparent transparent;
}

.select2-dropdown {
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
    background-color: var(--vscode-button-hoverBackground, var(--bs-primary));
    color: var(--vscode-button-foreground);
}

.select2-container .select2-selection--single {
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--vscode-editor-foreground);
    line-height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}


.page-link {
    background-color: var(--vscode-button-hoverBackground, var(--bs-primary));
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.page-link:hover {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.page-item.disabled .page-link {
    color: var(--vscode-disabledForeground);
    background-color: var(--vscode-tab-inactiveBackground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.table thead th, .table tbody td {
    border-bottom: 1px solid var(--vscode-input-border, var(--bs-gray));
}

div.dt-button-info {
    background-color: var(--vscode-editor-background);
    border: 2px solid var(--vscode-input-border, var(--bs-gray));
}

div.dt-button-info h2 {
    border-bottom: 1px solid #ddd;
    background-color: var(--vscode-editor-background);
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.table {
    color: var(--vscode-editor-foreground);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: var(--vscode-editor-foreground);
}

.modal-header {
    border-bottom-color: var(--vscode-input-border, var(--bs-gray));
}

.modal-header .close {
    color: var(--vscode-editor-foreground);
}

.modal-content, .tab-content {
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.tab-content {
    border-top: none;
}

.nav-tabs {
    border-bottom: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.nav-tabs .nav-link {
    background-color: var(--vscode-tab-inactiveBackground);
    color: var(--vscode-tab-inactiveForeground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
}

.nav-tabs .nav-link.active {
    background-color: var(--vscode-tab-activeBackground);
    color: var(--vscode-tab-activeForeground);
    border: 1px solid var(--vscode-input-border, var(--bs-gray));
    border-bottom-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--vscode-input-border, var(--bs-gray)) var(--vscode-input-border, var(--bs-gray)) var(--vscode-input-border, var(--bs-gray));
}

table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    opacity: 0.6;
}

table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: 1;
}

body.vscode-dark .modal-header .btn-close,
body.vscode-high-contrast:not(.vscode-high-contrast-light) .modal-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.dtfh-floatingparent.dtfh-floatingparenthead table {
    background-color: var(--vscode-editor-background) !important;
}
