#tabConstraints {
    padding: 10px 0;
}

.tab-content {
    margin-bottom: 15px;
}

#tabConstraints .table thead th {
    border-top: none;
}

#addConstraint {
    margin-right: 10px;
}

#tbResultDataset th, #tbResultDataset td {
    white-space: nowrap;
}

.selecionarCampos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    column-gap: 20px;
}

.list-sortable {
    list-style: none;
    padding-left: 0;
    border: 1px solid var(--vscode-input-border, var(--gray));
    max-height: 400px;
    overflow: scroll;
}

.list-sortable:first-child {
    border-left: none;
}

.list-sortable:last-child {
    border-right: none;
}

.list-sortable li {
    padding: .5rem;
    margin-bottom: .5rem;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
    border-color: var(--vscode-button-separator);
}

.sortable-hover {
    cursor: move;
    color: #fff;
    background-color: var(--vscode-button-hoverBackground, var(--primary));
    border-color: var(--vscode-button-separator);
}

#tabOrders .custom-control-input {
    display: none;
}

#tabOrders .custom-switch {
    padding-left: 1.25rem;
}

#tabOrders .custom-control-label {
    cursor: pointer;
}

#tabOrders .custom-switch .custom-control-label::before {
    content: none;
}

#tabOrders .custom-switch .custom-control-label::after {
    top: 6px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent var(--vscode-editor-foreground) transparent;
    transform: rotate(0deg);
    border-radius: unset;
    background: none;
    cursor: pointer;
    transition: none;
}

#tabOrders .custom-switch .custom-control-input:checked~.custom-control-label::after {
    background: none;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
